* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(img/foodtruck.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1,
h3 {
    color: #fff;
    letter-spacing: 1px;
}

h1 {
    font-size: 250%;
    font-weight: 300;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 4px;
}

h1 span {
    color: #00a8ff;
}

h3 {
    font-size: 150%;
    font-weight: 400;
    word-spacing: 2px;
    margin-bottom: 20px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited {
    background-color: #00a8ff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 150%;
    letter-spacing: 1px;
    padding: 1% 2%;
    text-decoration: none;
    text-align: center;
    transition: background-color .2s;
    width: 70%;
    margin-left: 15%;
}

.btn:hover,
.btn:active {
    background-color: #33b9ff;
}